.container {
    display: grid;
    grid-template-columns: 50% auto;
    margin: 1% 25%;
}

h1 {
    text-align: center;
}

.btn {
    background-color: #1976d2;
    color: white;
    padding: 12px;
    border: none;
}

label[for="life-container"] {
    font-size: 1.5em;
    border-bottom: 1px solid #cfcfcf;
    padding: 0 12px;
    margin-left: -12px;
}
